/*--------------------------------------------------------------------------
//
//  Bootstrap
//
//-------------------------------------------------------------------------*/

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

@import '../../../../node_modules/@ts-core/angular/style/mat/vi-mat';
@import 'mat-variables';

@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/helpers';
@import '~bootstrap/scss/utilities/api';

@import '../../../../node_modules/@ts-core/angular/style/mat/vi-mat';
@import 'mat-variables';

/*--------------------------------------------------------------------------
//
//  Core
//
//-------------------------------------------------------------------------*/

@include mat-core($typography);
@include vi-mat-core($typography);
@include vi-mat-core-bootstrap($typography);

html,
body {
    height: 100%;
}

body {
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
body {
    padding: 0;
    margin: 0;
}

/*--------------------------------------------------------------------------
//
//  Font Classes
//
//-------------------------------------------------------------------------*/

mat-expansion-panel-header {
    height: auto !important;
    padding: 1rem !important;

    &.mat-expanded {
        height: auto !important;
    }
}

/*--------------------------------------------------------------------------
//
//  Text
//

//-------------------------------------------------------------------------*/

.text-indent {
    text-indent: 24px;
}

/*--------------------------------------------------------------------------
//
//  Transition
//
//-------------------------------------------------------------------------*/

.color-transition {
    transition: color 0.2s ease-in-out, box-shadow 0.4s ease-in-out;
}
.border-transition {
    transition: border-color 0.2s ease-in-out, box-shadow 0.4s ease-in-out;
}

/*--------------------------------------------------------------------------
//
//  Methods
//
//-------------------------------------------------------------------------*/

@mixin typography-apply($typography) {
    .mat-tooltip {
        font-size: mat-font-size($typography, caption);
    }
}

@mixin theme-apply($theme, $text-primary-default: 800, $text-accent-default: 800) {
    @include angular-material-theme($theme);

    @include vi-mat-theme($theme);
    @include vi-mat-theme-bootstrap($theme, $text-primary-default, $text-accent-default);

    $warn: map-get($theme, warn);
    $accent: map-get($theme, accent);
    $primary: map-get($theme, primary);
    $is-dark: map-get($theme, is-dark);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $border-color: map-get($foreground, divider);

    $text-base: map-get($foreground, base);
    $text-warn: mat-color($warn);
    $text-primary: mat-color($primary, $text-primary-default);

    @if $is-dark {
        $text-accent: mat-color($accent);
        $text-primary: mat-color($primary);
    }

    a:hover,
    a:active {
        color: $text-primary;
    }

    mat-row {
        &.active {
            background-color: map-get($background, hover) !important;
        }
    }
    mat-list-item {
        &.active {
            color: $text-primary !important;
            background-color: map-get($background, hover) !important;
        }
    }

    mat-sidenav {
        width: 230px;
        .mat-drawer-inner-container {
            display: flex;
            flex-direction: column;
            @include scroll-no();
        }
    }

    mat-table {
        mat-header-row {
            background-color: map-get($background, hover) !important;
        }
    }

    ckeditor {
        .ck-toolbar {
            border-color: $border-color !important;
            border-top-left-radius: $border-radius !important;
            border-top-right-radius: $border-radius !important;
        }

        /*
        .ck-editor__editable_inline {
            min-height: 500px !important;
        }
        */

        .ck-content {
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            border-bottom-left-radius: $border-radius !important;
            border-bottom-right-radius: $border-radius !important;

            &.ck-focused {
                border-color: $text-primary !important;
            }
            &.ck-blurred {
                border-color: $border-color !important;
            }
        }

        &.ng-touched.ng-invalid {
            .ck-content {
                border-color: $text-warn !important;
            }
        }
    }
    /*
    .mat-dialog-container,
    vi-notification {
        border: 1px solid $border-color;
    }
    */

    .mat-column-menu {
        max-width: 44px;
        text-align: center;
        min-height: auto;
    }

    .mat-column-action {
        max-width: 240px;
    }
    .mat-column-picture {
        max-width: 48px;
    }

    .mat-column-debet,
    .mat-column-credit {
        max-width: 100px;
    }

    .mat-column-createdDate,
    .mat-column-activatedDate {
        max-width: 220px;
    }

    .mat-tooltip {
        white-space: pre-line;
    }

    .border-transparent {
        border-width: 1px;
        border-color: transparent !important;
        border-style: solid !important;
    }

    .mat-menu-item:hover,
    .mat-menu-item.cdk-program-focused,
    .mat-menu-item.cdk-keyboard-focused,
    .mat-menu-item-highlighted {
        &:not([disabled]) {
            color: $text-base;
        }
    }

    .text-base-hover {
        &:hover {
            color: $text-base !important;
        }
    }

    .text-underline-hover {
        &:hover {
            text-decoration: underline !important;
        }
    }

    .text-subheading {
        color: rgba($text-base, 0.5);
    }
}
